src/main/app/cards-foodcourt-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    
    <flow name="cardsSystemFoodcourtAPIMainFlow">
        <http:listener config-ref="Cards-Foodcourt-System-API-HTTP-Listener-Config" path="${listener.path}" doc:name="Invoke Foodcourt API" allowedMethods="${listener.method}"/>
        <set-session-variable variableName="messageId" value="#[message.inboundProperties.messageId == null ? message.id : message.inboundProperties.messageId]" doc:name="Set Message Id"/>
        <apikit:router config-ref="Cards_Foodcourt_System_API_Config" doc:name="APIkit Router" />
        <exception-strategy ref="global-exception-Strategy" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="cardsSystemFoodcourtAPIConsole">
        <http:listener config-ref="Cards-Foodcourt-System-API-HTTP-Listener-Config" path="/console/system/cards/foodcourt/*" doc:name="Invoke Foodcourt API" />
        <apikit:console config-ref="Cards_Foodcourt_System_API_Config" doc:name="APIkit Console" />
    </flow>
    
    <flow name="postFoodcourtEnquiryFlow">
     <logger message="***************** Begin of the #[mule:context.serviceName] with unique messageId: #[sessionVars.messageId] ******************" level="INFO" doc:name="Init Beginning Of Logger With Flowname And MessageId" />

        <dw:transform-message doc:name="Prepare Enquiry Payload">
            
            <dw:set-payload resource="classpath:dataweave/enquiry.dwl"/>

        </dw:transform-message>
        <set-property propertyName="soap.mycustomheader" value="&lt;Authentication xmlns=&quot;http://tempuri.org/&quot;&gt; &lt;Password&gt;${service.password}&lt;/Password&gt; &lt;UserName&gt;${service.username}&lt;/UserName&gt; &lt;Domain&gt;${service.domain}&lt;/Domain&gt; &lt;/Authentication&gt;" doc:name="Set headers For enquiry" />
        <until-successful maxRetries="3" millisBetweenRetries="30000" synchronous="true" doc:name="Until Successful">
            <ws:consumer config-ref="Cards-Foodcourt-System-API-Web-Service-Consumer" operation="PrepaidCard_Balance" doc:name="Soap Consumer For Enquiry"/>
        </until-successful>
        <logger message="***************** End  of the  #[mule:context.serviceName]  with unique messageId: #[sessionVars.messageId] *************************" level="INFO" doc:name="Init End Of Logger With Flowname And MessageId"/>
        <remove-session-variable variableName="messageId" doc:name="Remove Message Id"/>

        <!-- <logger level="INFO" doc:name="Log Enquiry Payload" message="#[payload]" />
        <logger message="#[flowVars.messageId]" level="INFO" doc:name="Log Message Id" /> -->
        <exception-strategy ref="global-exception-Strategy" doc:name="Reference Exception Strategy"/>   
    </flow>
    <flow name="postFoodcourtRedemptionFlow">
        <logger message="***************** Begin of the #[mule:context.serviceName] with unique messageId: #[sessionVars.messageId] ******************" level="INFO" doc:name="Init Beginning Of Logger With Flowname And MessageId" />

        <dw:transform-message doc:name="Prepare Redemption Payload">
            <dw:set-payload resource="classpath:dataweave/redemption.dwl"/>

        </dw:transform-message>
        <until-successful maxRetries="3" millisBetweenRetries="30000" synchronous="true" doc:name="Until Successful">
            <ws:consumer config-ref="Cards-Foodcourt-System-API-Web-Service-Consumer" operation="Prepaid_Card_Redemption" doc:name="Soap Consumer For Redemption "/>
        </until-successful>
        <logger message="***************** End  of the  #[mule:context.serviceName]  with unique messageId: #[sessionVars.messageId] *************************" level="INFO" doc:name="Init End Of Logger With Flowname And MessageId"/>
        <remove-session-variable variableName="messageId" doc:name="Remove Message Id"/>

      <!--   <logger message="#[payload]" level="INFO" doc:name="Log Redemption Payload" />
        <logger message="end of  Redemption subflow : #[flowVars.messageId]" level="INFO" doc:name="Log Message Id" /> -->
        <exception-strategy ref="global-exception-Strategy" doc:name="Reference Exception Strategy"/>
        </flow>
   
    
    <!-- <apikit:mapping-exception-strategy name="cards_system_foodcourt_api_global_exception_strategy">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy> -->
</mule>
